@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet - v1.0] */

/* =========== Index of CSS ===========
:: 1.0 Import Fonts
:: 2.0 Import All CSS 
:: 3.0 Base CSS
    :: 3.1.0 Spacing
    :: 3.2.0 Height
    :: 3.3.0 Section Padding
    :: 3.4.0 Section Heading
*/

/* :: 1.0 Import Fonts */

// @import url('https://fonts.googleapis.com/css?family=Allura|Raleway:200,300,400,500,600,700,800,900');

/* :: 2.0 Import All CSS */

@import 'bootstrap.min.css';
// @import 'classy-nav.css';
@import 'owl.carousel.min.css';
@import 'animate.css';
// @import 'magnific-popup.css';
@import 'font-awesome.min.css';
@import 'jquery-ui.css';
@import 'lightslider.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-size: 14px;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: $fonts;
//     color: $heading-color;
//     line-height: 1.3;
//     font-weight: 700;

// }

// p {
//     font-family: $fonts;
//     color: $text-color;
//     font-size: 14px;
//     line-height: 2;
//     font-weight: 500;
// }


a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    // font-weight: 600;
    // font-size: 14px;
    font-family: $fonts;
}

// ul,
// ol {
//     margin: 0;
//     li {
//         list-style: none;
//     }
// }

img {
    height: auto;
    // max-width: 100%;
    width: 100%;
    // min-width: 100%;
}

/* :: 3.1.0 Spacing */
.mt-0{
    margin-top: 0px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-0{
    margin-left: 0px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-0{
    margin-right: 0px !important;
}
.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* :: 3.2.0 Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
/* :: 3.3.0 Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.align-items-center{
    align-items: center;
}
button{
    &:focus{
        box-shadow: none !important;
    }
}
/* :: 3.4.0 Section Heading */
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    text-align: center;
    h2 {
        font-size: 48px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 900;
        @media #{$breakpoint-lg} {
            font-size: 40px;
        }
        @media #{$breakpoint-md} {
            font-size: 36px;
        }
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    h6 {
        font-size: 16px;
        margin-bottom: 0;
        color: #c5afd9;
    }
    &.dark {
        h2 {
            color: $heading-color;
        }
        h6 {
            color: #c1c1c1;
        }
    }
}
.header_search{
    max-width: 250px;
    width: 100%;
    .form-search{
        position: relative;
    }
    .btn-search{
        position: absolute;
        top: 0;
        background: transparent;
        right: 0;
        i{
            color: #ccc
        }
    }
}
.shopping_cart{
    text-align: right;
    .btn-group{
        &:hover{
            .dropdown-menu{
                display: block;
                margin-top: 0;
            }
        }
    }
}
.menu{
    position: relative;
    @media #{$breakpoint-xs}{
        .navbar-collapse{
            // display: none !important;
            height: 0;
            overflow: hidden;
            &.custom_menu{
                position: absolute;
                background-color: #fff;
                top: 56px;
                z-index: 999;
                width: 100%;
                left: 0;
                right: 0;
                // position: fixed;
                // background: #989898;
                // width: 50%;
                // height: 100%;
                // z-index: 999;
                // top: 0;
                // left: 0;
                .navbar-nav{
                    display: block;
                    width: 100%;              
                }
            }
            &.show{
                // display: block !important;
                height: auto;
            }
        }
    }
    .nav{
        .nav-item{
            padding: 10px 20px;
            .nav-link{
                text-transform: uppercase;
                font-size: 17px;
                padding: 0px;
                color: #a50e11;
                border-bottom: 1px solid transparent;
                transition: all .5s;
                &.active{
                    color: #333;
                    &:hover{
                        border-bottom: 1px solid #333;
                    }
                }
                &:hover{
                    border-bottom: 1px solid #a50e11;
                    transition: all .5s;
                }
            }
            &.dropdown-menu-toggle{
                position: relative;
                &:hover{
                    .nav-link{
                        border-bottom: 1px solid #a50e11;
                        transition: all .5s;
                    }
                    .dropdown-menu{
                        display: block !important;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
.banner{
    .owl-carousel{
        position: relative;
        .owl-stage{
            .item{
                max-height: 500px;
                .bg_img_banner{
                    height: 500px;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    @media #{$breakpoint-md} {
                        height: 400px;
                    }
                    @media #{$breakpoint-xs} {
                        height: 300px;
                    }
                }
            }
        }
        .owl-nav{
            display: none;
        }
        .owl-dots{
            position: absolute;
            left: 20px;
            bottom: 20px;
            .owl-dot{
                width: 25px;
                height: 3px;
                background: red;
                border: 0;
                margin-left: 5px;
                &.active{
                    background:#333
                }
                &:focus{
                    outline:none
                }
            }
        }
    }
}
.box_2_col{
    background: #e2e2e2;
    padding-top: 20px;
    .item{
        background-color: #fff;
        padding: 15px;
        &:hover{
            .img_box{
                img{
                    transition: all 1s;
                    transform: scale(1.5)
                }
            }
        }
        &.rps_item{
            @media #{$breakpoint-md}{
                margin-bottom: 20px;
            }
            @media #{$breakpoint-sm}{
                margin-bottom: 20px;
            }
            @media #{$breakpoint-xs}{
                margin-bottom: 20px;
            }
        }
        .title_item{
            justify-content: center;
            display: flex;
            flex-direction: column;
            h3{
                font-size: 20px
            }
            .view_detail{
               a{
                    border: 1px solid #000;
                    padding: 3px 10px;
                    display: inline-block;
                    transition: all .5s;
                    &:hover{
                        transition: all .5s;
                        box-shadow: 3px 3px 7px 1px #ccc
                    }
                }
            }
        }
        .img_box{
            overflow: hidden;
            img{
                transition: all 1s;
                max-width: 160px;
            }
        }
    }
}
.box_4_col{
    margin-bottom: 30px;
    .item{
        border: 1px solid #e2e2e2;
        padding: 15px;
        margin-top: 20px;
        &:hover{
            .img_box{
                img{
                    transition: all 1s;
                    transform: scale(1.5)
                }
            }
        }
        .img_box{
            overflow: hidden;
            img{
                transition: all 1s;
            }
        }
        .title_item{
            text-align: center;
            margin-top: 20px;
            h3{
                font-size: 18px
            }
            .price {
                font-weight: bold;
                font-size: 15px;
                color: #a0a0a0;
            }
        }
    }
}
.box_col_news{
    background: #e2e2e2;
    padding-top: 20px;
    .item{
        background-color: #fff;
        &.rps_item{
            @media #{$breakpoint-md}{
                margin-bottom: 20px;
            }
            @media #{$breakpoint-sm}{
                margin-bottom: 20px;
            }
            @media #{$breakpoint-xs}{
                margin-bottom: 20px;
            }
        }
        &:hover{
            .img_box{
                img{
                    transition: all 1s;
                    transform: scale(1.5)
                }
            }
        }
        .img_box{
            overflow: hidden;
            img{
                transition: all 1s;
            }
        }
        .title_item{
            text-align: center;
            padding: 5px 15px 5px 15px;
            h3{
                font-size: 18px
            }
        }
    }
}
footer{
    .content{
        padding-top: 50px;
        padding-bottom: 50px;
        header{
            h4{
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold
            }
        }
        ul{
            li{
                list-style: none
            }
        }
    }
    .signature{
        background: #e2e2e2;
        padding: 10px;
        text-align: center
    }
}
// 
.breadcrumb_item{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    .breadcrumb{
        background: transparent;
    }
}
.left_bar{
    .title_big{
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2px;
    }
}
.categories{
    .categories_item{
        ul{
            margin-top: 20px;
            li{
                list-style: none;
                a{
                    padding-bottom: 10px;
                    display: block;
                    .bold{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
#slider{
    position: relative;
    position: relative;
    height: 2.5px;
    background: #ccc;
    border: none;
    .ui-slider-range{
        background: #a20202;
    }
    .ui-slider-handle{
        background: #a20202;
        border: none;
        border-radius: 50px;
        width: 12px;
        height: 12px;
    }
    .value {
        position: absolute;
        top: 30px;
        left: 50%;
        margin: 0 0 0 -20px;
        width: 40px;
        text-align: center;
        display: block;
        
        /* optional */
        
        font-weight: normal;
        font-family: Verdana,Arial,sans-serif;
        font-size: 14px;
        color: #333;
        i {
            font-style: normal;
        }
    }
    .price-range-both{
        display: none; 
        .value {
            width: 100px;
            margin: 0 0 0 -50px;
            top: 26px;
        }
    }
}
.slider_range{
    margin-top: 20px;
    .detail_future{
        margin-top: 10px;
        display: flex;
        align-items: center;
        .name{
            text-transform: uppercase;
            
            // flex: 1;
        }
        span{
            padding-right: 5px
        }
        .item{
            display: flex;
            padding-left: 10px;
            .box-input {
                display: flex;
                border: 1px solid #ccc;
                label {
                    justify-content: center;
                    display: flex;
                    margin-bottom: 0;
                    align-items: center;
                    padding-left: 10px;
                }
            }
            #min,#max{
                border: 1px solid #ccc;
                display: inline-block;
                padding: 5px 10px
            }
            #input_min,#input_max{
                border: none;
                display: inline-block;
                padding: 5px 10px;
                flex: 1;
                width: 100%;
                padding-left: 0;
                &:focus{
                    outline: none
                }
            }
            .separator{
                justify-content: center;
                align-items: center;
                display: flex;
                padding: 0 10px;
            }
        }
    }
}
.featured_products{
    .media{
        margin-bottom: 15px;
        .media-img{
            width: 64px;
            height: 64px;
            margin-right: 10px;
        }
        .media-body{
            .title{
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 0;
            }
            .price{
                span{
                    font-style: italic;
                }
            }
            .price-sale{
                .cost{
                    text-decoration: line-through;
                    padding-right: 10px
                }
                .salse{
                    color: #fb2f2f;
                    font-style: normal;
                    font-size: 16px
                }
            }
        }
    }
}
.conten{
    .header{
        .item{
            display: flex;
            overflow: hidden;
            @media #{"only screen and (max-width:575px)"}{
                flex-direction: column;
            }
            .page{
                border: 1px solid #ccc;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                margin-right: 10px;
                white-space: nowrap;
                @media #{"only screen and (max-width:575px)"}{
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }
            .sort_buy{
                display: flex;
                align-items: center;
                .dropdown{
                    @media #{"only screen and (max-width:575px)"}{
                        width: 100%;
                    }
                    .dropdown-toggle{
                        border: 1px solid #ccc;
                        border-radius: 0;
                        @media #{"only screen and (max-width:575px)"}{
                            width: 100%;
                            text-align: left;
                        }
                    }
                    .dropdown-menu{
                        width: 100%;
                        border-radius: 0;
                        padding: 0;
                        .dropdown-item-sort{
                            margin-bottom: 0;
                            li{
                                list-style: none;
                                a{
                                    padding: 5px 10px;
                                    display: block;
                                    transition: all .5s;
                                    &:hover{
                                        transition: all .5s;
                                        background: #e8e8e8
                                    }
                                }
                            }
                        }
                    }
                }
                }
        }
        .view{
            display: flex;
            justify-content: flex-end;
            height: 100%;
            align-items: center;
            i{
                font-size: 18px;
                margin-top: 2px;
                display: flex;
                align-items: center;
            }
            .list,.gird{
                margin-left: 10px;
                a{
                    width: 33px;
                    height: 30px;
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    transition: all .8s;
                    &:hover{
                        transition: all .8s;
                        background: #d80000;
                        color: #fff;
                    }
                }
            }
            .active{
                a{
                    background: #d80000;
                    color: #fff;
                }
            }
        }
    }
}
.product{
    .card{
        border: 0;
        margin-bottom: 20px;
        transition: all .5s;
        .card-body{
            padding: 0px 2.5px;
            .card-title{
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 8px;
                &:hover{
                    text-decoration: underline
                }
            }
            .price{
                color: #fb2f2f;
                margin-top: 5px;
                font-size: 16px;
            }
        }
        .card-img{
            overflow: hidden;
            border-radius: 0;
            position: relative;
            img{
                border-radius: 0;
                transition: all .5s
            }
            .sale{
                position: absolute;
                background: #313131;
                right: 0;
                top: 0;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                padding: 5px 10px;
                color: #fff;
            }
        }
        &:hover{
            transition: all 0.5s;
            box-shadow: 1px 1px 9px 0px #ccc;
            .card-img{
                img{
                    transform: scale(1.2);
                    transition: all .5s
                }
            }
        }
    }
}
.pagination_box{
    .pagination{
        .page-item{
            margin: 0px 4px;
            &.active{
                .page-link{
                    background-color: #fb2f2f;
                    border-color: #fb2f2f;
                    color: #fff;
                }
            }
            .page-link{
                color: #fb2f2f;
                &:focus{
                    box-shadow:none
                }
            }
        }
    }
}
.slider_detail{
    position: relative;
    .lSSlideOuter{
        .lSPager{
            li{
                opacity: 0.5;
                transition: all .5s;
                &.active{
                    transition: all .5s;
                    opacity: 1;
                }
            }
        }
    }
}
.description{
    .name-price{
        border-bottom: 1px solid #ccc;
        .name{
            font-size: 20px;
            text-transform: uppercase;
        }
        .price_evaluate{
            display: flex;
            margin-bottom: 10px;
            .price{
                display: flex;
                flex:1;
                font-size: 20px;
                margin-bottom: 0;
                align-items: center;
                color: #fb2f2f;
            }
            .evaluate{
                display: flex;
                align-items: center;
                ul{
                    margin-bottom: 0;
                    li{
                        display: inline;
                        list-style: none;
                        font-size: 16px;
                        cursor: pointer;
                        color: #FFC107;
                        &.no-swich{
                            color: #ccc;

                        }
                    }
                }
            }
        }
    }
    .describe{
        font-style: italic
    }
    .add-card{
        .form-group{
            display: flex;
            .form-control,.btn-add-card{
                border-radius: 0
            }
            .btn-add-card{
                background-color: #df3133;
                color: #fff;
                margin-left: 10px;
            }
            .form-control{
                width: 70px;
            }
        }
    }
}
.detailed-description{
    border-top: 1px solid #ccc;
    .nav{
        border: 0;
        @media #{$breakpoint-xs}{
            display: block;
        }
        li{
            margin-right: 10px;
            @media #{$breakpoint-xs}{
                margin-bottom: 10px;
                .nav-link{
                    padding: inherit;
                }
            }
            .nav-link{
                @media #{$breakpoint-xs}{
                    padding: .5rem 1rem;
                    border: 2px solid #ccc;
                }
                padding: 3px 25px;
                border: 2px solid transparent;
                transition: all .8s;
                text-transform: uppercase;
                &:hover{
                    transition: all .8s;
                    border: 2px solid #495057;
                    border-radius: 0;
                    // font-weight: bold;
                }
                &.active{
                    border: 2px solid #495057;
                    border-radius: 0;
                    font-weight: bold;
                }
            }
        }
    }
    .tab-pane{
        margin-top: 30px;
        border: 1px solid #ccc;
        padding: 20px 20px
    }
}
.suggestions{
    .title{
        text-transform: uppercase;
        font-size: 20px;
    }
}