/* [Master Stylesheet - v1.0] */
/* =========== Index of CSS ===========
:: 1.0 Import Fonts
:: 2.0 Import All CSS 
:: 3.0 Base CSS
    :: 3.1.0 Spacing
    :: 3.2.0 Height
    :: 3.3.0 Section Padding
    :: 3.4.0 Section Heading
*/
/* :: 1.0 Import Fonts */
/* :: 2.0 Import All CSS */
@import 'bootstrap.min.css';
@import 'owl.carousel.min.css';
@import 'animate.css';
@import 'font-awesome.min.css';
@import 'jquery-ui.css';
@import 'lightslider.css';
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid transparent;
  color: #141414;
  font-family: "Raleway", sans-serif;
}

img {
  height: auto;
  width: 100%;
}

/* :: 3.1.0 Spacing */
.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

/* :: 3.2.0 Height */
.height-400 {
  height: 400px !important;
}

.height-500 {
  height: 500px !important;
}

.height-600 {
  height: 600px !important;
}

.height-700 {
  height: 700px !important;
}

.height-800 {
  height: 800px !important;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0;
}

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.align-items-center {
  align-items: center;
}

button:focus {
  box-shadow: none !important;
}

/* :: 3.4.0 Section Heading */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
}
.section-heading h2 {
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
}
@media only screen and (min-width:992px) and (max-width:1199px) {
  .section-heading h2 {
    font-size: 40px;
  }
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .section-heading h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width:767px) {
  .section-heading h2 {
    font-size: 24px;
  }
}
.section-heading h6 {
  font-size: 16px;
  margin-bottom: 0;
  color: #c5afd9;
}
.section-heading.dark h2 {
  color: #262626;
}
.section-heading.dark h6 {
  color: #c1c1c1;
}

.header_search {
  max-width: 250px;
  width: 100%;
}
.header_search .form-search {
  position: relative;
}
.header_search .btn-search {
  position: absolute;
  top: 0;
  background: transparent;
  right: 0;
}
.header_search .btn-search i {
  color: #ccc;
}

.shopping_cart {
  text-align: right;
}
.shopping_cart .btn-group:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.menu {
  position: relative;
}
@media only screen and (max-width:767px) {
  .menu .navbar-collapse {
    height: 0;
    overflow: hidden;
  }
  .menu .navbar-collapse.custom_menu {
    position: absolute;
    background-color: #fff;
    top: 56px;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;
  }
  .menu .navbar-collapse.custom_menu .navbar-nav {
    display: block;
    width: 100%;
  }
  .menu .navbar-collapse.show {
    height: auto;
  }
}
.menu .nav .nav-item {
  padding: 10px 20px;
}
.menu .nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 17px;
  padding: 0px;
  color: #a50e11;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}
.menu .nav .nav-item .nav-link.active {
  color: #333;
}
.menu .nav .nav-item .nav-link.active:hover {
  border-bottom: 1px solid #333;
}
.menu .nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #a50e11;
  transition: all 0.5s;
}
.menu .nav .nav-item.dropdown-menu-toggle {
  position: relative;
}
.menu .nav .nav-item.dropdown-menu-toggle:hover .nav-link {
  border-bottom: 1px solid #a50e11;
  transition: all 0.5s;
}
.menu .nav .nav-item.dropdown-menu-toggle:hover .dropdown-menu {
  display: block !important;
  margin-top: 0;
}

.banner .owl-carousel {
  position: relative;
}
.banner .owl-carousel .owl-stage .item {
  max-height: 500px;
}
.banner .owl-carousel .owl-stage .item .bg_img_banner {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .banner .owl-carousel .owl-stage .item .bg_img_banner {
    height: 400px;
  }
}
@media only screen and (max-width:767px) {
  .banner .owl-carousel .owl-stage .item .bg_img_banner {
    height: 300px;
  }
}
.banner .owl-carousel .owl-nav {
  display: none;
}
.banner .owl-carousel .owl-dots {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.banner .owl-carousel .owl-dots .owl-dot {
  width: 25px;
  height: 3px;
  background: red;
  border: 0;
  margin-left: 5px;
}
.banner .owl-carousel .owl-dots .owl-dot.active {
  background: #333;
}
.banner .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.box_2_col {
  background: #e2e2e2;
  padding-top: 20px;
}
.box_2_col .item {
  background-color: #fff;
  padding: 15px;
}
.box_2_col .item:hover .img_box img {
  transition: all 1s;
  transform: scale(1.5);
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .box_2_col .item.rps_item {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width:576px) and (max-width:767px) {
  .box_2_col .item.rps_item {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:767px) {
  .box_2_col .item.rps_item {
    margin-bottom: 20px;
  }
}
.box_2_col .item .title_item {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.box_2_col .item .title_item h3 {
  font-size: 20px;
}
.box_2_col .item .title_item .view_detail a {
  border: 1px solid #000;
  padding: 3px 10px;
  display: inline-block;
  transition: all 0.5s;
}
.box_2_col .item .title_item .view_detail a:hover {
  transition: all 0.5s;
  box-shadow: 3px 3px 7px 1px #ccc;
}
.box_2_col .item .img_box {
  overflow: hidden;
}
.box_2_col .item .img_box img {
  transition: all 1s;
  max-width: 160px;
}

.box_4_col {
  margin-bottom: 30px;
}
.box_4_col .item {
  border: 1px solid #e2e2e2;
  padding: 15px;
  margin-top: 20px;
}
.box_4_col .item:hover .img_box img {
  transition: all 1s;
  transform: scale(1.5);
}
.box_4_col .item .img_box {
  overflow: hidden;
}
.box_4_col .item .img_box img {
  transition: all 1s;
}
.box_4_col .item .title_item {
  text-align: center;
  margin-top: 20px;
}
.box_4_col .item .title_item h3 {
  font-size: 18px;
}
.box_4_col .item .title_item .price {
  font-weight: bold;
  font-size: 15px;
  color: #a0a0a0;
}

.box_col_news {
  background: #e2e2e2;
  padding-top: 20px;
}
.box_col_news .item {
  background-color: #fff;
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .box_col_news .item.rps_item {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width:576px) and (max-width:767px) {
  .box_col_news .item.rps_item {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:767px) {
  .box_col_news .item.rps_item {
    margin-bottom: 20px;
  }
}
.box_col_news .item:hover .img_box img {
  transition: all 1s;
  transform: scale(1.5);
}
.box_col_news .item .img_box {
  overflow: hidden;
}
.box_col_news .item .img_box img {
  transition: all 1s;
}
.box_col_news .item .title_item {
  text-align: center;
  padding: 5px 15px 5px 15px;
}
.box_col_news .item .title_item h3 {
  font-size: 18px;
}

footer .content {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .content header h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .content ul li {
  list-style: none;
}
footer .signature {
  background: #e2e2e2;
  padding: 10px;
  text-align: center;
}

.breadcrumb_item {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.breadcrumb_item .breadcrumb {
  background: transparent;
}

.left_bar .title_big {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}

.categories .categories_item ul {
  margin-top: 20px;
}
.categories .categories_item ul li {
  list-style: none;
}
.categories .categories_item ul li a {
  padding-bottom: 10px;
  display: block;
}
.categories .categories_item ul li a .bold {
  font-weight: bold;
}

#slider {
  position: relative;
  position: relative;
  height: 2.5px;
  background: #ccc;
  border: none;
}
#slider .ui-slider-range {
  background: #a20202;
}
#slider .ui-slider-handle {
  background: #a20202;
  border: none;
  border-radius: 50px;
  width: 12px;
  height: 12px;
}
#slider .value {
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;
  /* optional */
  font-weight: normal;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
#slider .value i {
  font-style: normal;
}
#slider .price-range-both {
  display: none;
}
#slider .price-range-both .value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.slider_range {
  margin-top: 20px;
}
.slider_range .detail_future {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.slider_range .detail_future .name {
  text-transform: uppercase;
}
.slider_range .detail_future span {
  padding-right: 5px;
}
.slider_range .detail_future .item {
  display: flex;
  padding-left: 10px;
}
.slider_range .detail_future .item .box-input {
  display: flex;
  border: 1px solid #ccc;
}
.slider_range .detail_future .item .box-input label {
  justify-content: center;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  padding-left: 10px;
}
.slider_range .detail_future .item #min, .slider_range .detail_future .item #max {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 10px;
}
.slider_range .detail_future .item #input_min, .slider_range .detail_future .item #input_max {
  border: none;
  display: inline-block;
  padding: 5px 10px;
  flex: 1;
  width: 100%;
  padding-left: 0;
}
.slider_range .detail_future .item #input_min:focus, .slider_range .detail_future .item #input_max:focus {
  outline: none;
}
.slider_range .detail_future .item .separator {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.featured_products .media {
  margin-bottom: 15px;
}
.featured_products .media .media-img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.featured_products .media .media-body .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}
.featured_products .media .media-body .price span {
  font-style: italic;
}
.featured_products .media .media-body .price-sale .cost {
  text-decoration: line-through;
  padding-right: 10px;
}
.featured_products .media .media-body .price-sale .salse {
  color: #fb2f2f;
  font-style: normal;
  font-size: 16px;
}

.conten .header .item {
  display: flex;
  overflow: hidden;
}
@media only screen and (max-width:575px) {
  .conten .header .item {
    flex-direction: column;
  }
}
.conten .header .item .page {
  border: 1px solid #ccc;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
}
@media only screen and (max-width:575px) {
  .conten .header .item .page {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.conten .header .item .sort_buy {
  display: flex;
  align-items: center;
}
@media only screen and (max-width:575px) {
  .conten .header .item .sort_buy .dropdown {
    width: 100%;
  }
}
.conten .header .item .sort_buy .dropdown .dropdown-toggle {
  border: 1px solid #ccc;
  border-radius: 0;
}
@media only screen and (max-width:575px) {
  .conten .header .item .sort_buy .dropdown .dropdown-toggle {
    width: 100%;
    text-align: left;
  }
}
.conten .header .item .sort_buy .dropdown .dropdown-menu {
  width: 100%;
  border-radius: 0;
  padding: 0;
}
.conten .header .item .sort_buy .dropdown .dropdown-menu .dropdown-item-sort {
  margin-bottom: 0;
}
.conten .header .item .sort_buy .dropdown .dropdown-menu .dropdown-item-sort li {
  list-style: none;
}
.conten .header .item .sort_buy .dropdown .dropdown-menu .dropdown-item-sort li a {
  padding: 5px 10px;
  display: block;
  transition: all 0.5s;
}
.conten .header .item .sort_buy .dropdown .dropdown-menu .dropdown-item-sort li a:hover {
  transition: all 0.5s;
  background: #e8e8e8;
}
.conten .header .view {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.conten .header .view i {
  font-size: 18px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}
.conten .header .view .list, .conten .header .view .gird {
  margin-left: 10px;
}
.conten .header .view .list a, .conten .header .view .gird a {
  width: 33px;
  height: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  transition: all 0.8s;
}
.conten .header .view .list a:hover, .conten .header .view .gird a:hover {
  transition: all 0.8s;
  background: #d80000;
  color: #fff;
}
.conten .header .view .active a {
  background: #d80000;
  color: #fff;
}

.product .card {
  border: 0;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.product .card .card-body {
  padding: 0px 2.5px;
}
.product .card .card-body .card-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}
.product .card .card-body .card-title:hover {
  text-decoration: underline;
}
.product .card .card-body .price {
  color: #fb2f2f;
  margin-top: 5px;
  font-size: 16px;
}
.product .card .card-img {
  overflow: hidden;
  border-radius: 0;
  position: relative;
}
.product .card .card-img img {
  border-radius: 0;
  transition: all 0.5s;
}
.product .card .card-img .sale {
  position: absolute;
  background: #313131;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  color: #fff;
}
.product .card:hover {
  transition: all 0.5s;
  box-shadow: 1px 1px 9px 0px #ccc;
}
.product .card:hover .card-img img {
  transform: scale(1.2);
  transition: all 0.5s;
}

.pagination_box .pagination .page-item {
  margin: 0px 4px;
}
.pagination_box .pagination .page-item.active .page-link {
  background-color: #fb2f2f;
  border-color: #fb2f2f;
  color: #fff;
}
.pagination_box .pagination .page-item .page-link {
  color: #fb2f2f;
}
.pagination_box .pagination .page-item .page-link:focus {
  box-shadow: none;
}

.slider_detail {
  position: relative;
}
.slider_detail .lSSlideOuter .lSPager li {
  opacity: 0.5;
  transition: all 0.5s;
}
.slider_detail .lSSlideOuter .lSPager li.active {
  transition: all 0.5s;
  opacity: 1;
}

.description .name-price {
  border-bottom: 1px solid #ccc;
}
.description .name-price .name {
  font-size: 20px;
  text-transform: uppercase;
}
.description .name-price .price_evaluate {
  display: flex;
  margin-bottom: 10px;
}
.description .name-price .price_evaluate .price {
  display: flex;
  flex: 1;
  font-size: 20px;
  margin-bottom: 0;
  align-items: center;
  color: #fb2f2f;
}
.description .name-price .price_evaluate .evaluate {
  display: flex;
  align-items: center;
}
.description .name-price .price_evaluate .evaluate ul {
  margin-bottom: 0;
}
.description .name-price .price_evaluate .evaluate ul li {
  display: inline;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: #FFC107;
}
.description .name-price .price_evaluate .evaluate ul li.no-swich {
  color: #ccc;
}
.description .describe {
  font-style: italic;
}
.description .add-card .form-group {
  display: flex;
}
.description .add-card .form-group .form-control, .description .add-card .form-group .btn-add-card {
  border-radius: 0;
}
.description .add-card .form-group .btn-add-card {
  background-color: #df3133;
  color: #fff;
  margin-left: 10px;
}
.description .add-card .form-group .form-control {
  width: 70px;
}

.detailed-description {
  border-top: 1px solid #ccc;
}
.detailed-description .nav {
  border: 0;
}
@media only screen and (max-width:767px) {
  .detailed-description .nav {
    display: block;
  }
}
.detailed-description .nav li {
  margin-right: 10px;
}
@media only screen and (max-width:767px) {
  .detailed-description .nav li {
    margin-bottom: 10px;
  }
  .detailed-description .nav li .nav-link {
    padding: inherit;
  }
}
.detailed-description .nav li .nav-link {
  padding: 3px 25px;
  border: 2px solid transparent;
  transition: all 0.8s;
  text-transform: uppercase;
}
@media only screen and (max-width:767px) {
  .detailed-description .nav li .nav-link {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
  }
}
.detailed-description .nav li .nav-link:hover {
  transition: all 0.8s;
  border: 2px solid #495057;
  border-radius: 0;
}
.detailed-description .nav li .nav-link.active {
  border: 2px solid #495057;
  border-radius: 0;
  font-weight: bold;
}
.detailed-description .tab-pane {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px 20px;
}

.suggestions .title {
  text-transform: uppercase;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
